html {
    background-image: url('pic/background1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #00b6ffe3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.header .header-top {
    width: 30%;
    display: flex;
    justify-content: space-around;}

.header .header-bottom {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.no-auth {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.no-auth a{
    text-decoration: none;
    font-size: 45px;
}

.header-button {
    background-color: #d4c6c6;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.header-button:hover {
    background-color: black;
    color: white;
}



/* Start Name Page */

.name-page {
    width: fit-content;
    margin: 50px auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

/* End Name Page */





/* Start Container */

.container {
    width: 90%;
    margin: auto;
}

/* End Container */


/* Start SignUp Page */

.signup {
    width: 25%;
    min-height: 360px;
    max-height: 550px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 190px auto;
    border-radius: 20px;
}

.signup .field {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup label {
    font-size: 30px;
    color: white;
}

.signup input {
    width: 80%;
    height: 23px;
    border-radius: 20px;
    border: none;
}

.signup button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

/* End SignUp Page */



/* Start Table */

    table {
        margin: 115px auto;
        /* width: 100%; */
        background-color: #b39e84d1;
        border-collapse: collapse;
        overflow-x:auto;
        box-shadow: rgba(0,0,0,0.3) 1px 3px 30px;
    }

    thead {
        background-color: #04AA6D;
    }

    thead tr th {
      padding: 0 15px;
    }

    tr {
        text-align: center;
    }

    tr:nth-child(even){
        background-color: #f2f2f2;
    }

    tbody tr:hover{
        background-color: #b7b7b7;
    }

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: fit-content;
}

/* End Table */

/* Start Create Page */

.input_form {
    width: 415px;
    height: auto;
    background-color: #5227b0c2;
    margin: 90px auto;
}

.input_form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.input_form form label {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.input_form form input {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

.input_form form select {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

.input_form form input[type='submit'] {
    background-color: #eee;
    margin-top: 10px;
}

.select {
  width: 185px;
  height: 25px;
  border-radius: 20px;
  border: none;
}

/* End Create Page */